<main role="main">
    <div class="py-5 bg-light">
        <div class="container" style="margin-top: 20px">           
            <div *ngIf="isLoading" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let articolo of articoli">
                     <div class="card mb-4 box-shadow">                        
                        <div class="card-body">
                            <p>{{ articolo.descrizione }}</p>
                            <p class="card-text">{{ articolo.prezzo1| currency:'EUR'}}</p>
                            <a routerLink="/articoli/{{ articolo.codice }}" class="card-link">Vai ai dettagli</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div *ngIf="!isLoading" class="row">
                <ul class="pagination">
                    <li class="{{pagination.current_page===1?'page-item disabled':'page-item'}}" >
                        <button class="page-link"  (click)="goToPage(1)">First</button>
                    </li>
                    <li class="{{pagination.current_page===1?'page-item disabled':'page-item'}}" >
                        <button class="page-link"  (click)="goToPage(pagination.current_page-1)" >Previous</button>
                    </li>                    
                    <li class="{{pagination.current_page===pagination.last_page?'page-item disabled':'page-item'}}">
                        <button class="page-link" (click)="goToPage(pagination.current_page+1)" >Next</button>
                    </li>
                    <li class="{{pagination.current_page===pagination.last_page?'page-item disabled':'page-item'}}" >
                        <button class="page-link" (click)="goToPage(pagination.last_page)">Last</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
